header{
  color:red;
}

ul.list{
  margin: 0;
  padding: 0;
}
ul.list1{
  // EITHER
  float: left; //Will make all li's be on a single line.
  //  OR
  display: inline-block;

  //Always followed by:
  border-right: 1px solid black;  // will give it the seperating line you want
}

img{
  max-width:100%;
}
.deleteMe{
    float: right;
    background: yellow;
}
.columns
{
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 11.5em;
    border-style: double;
}

.columns ul li:first-child
{
    margin-top:0px;
}
